.text-color {
  color: #757575;
  font-weight: 500;
}
.text-head {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
}
.text-color-main {
  color: #212121;
  font-weight: 700;
}
.social-links .link:hover,
.social-links .link {
  color: #2196f3;
}
.social-links .link {
  color: rgb(7, 7, 7);
}
.social-links .link:active {
  color: rgb(235, 11, 11);
}
button:active {
  font-family: "Roboto", "sans-serif";
  background: #f5f4fa;
  border-radius: 4px;
}
.text-button {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}
.end {
  background: #2f303a;
}

.higlight {
  color: #2196f3;
}
.pointer {
  cursor: pointer;
}
.color-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.li {
  list-style: none;
}
.id {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
