.nav-color {
  color: #757575;
  font-weight: 500;
}
a {
  color: #212121;
  display: inline;
}
a:hover,
a:focus,
a:active {
  color: rgb(7, 7, 7);
  color: #2196f3;
  cursor: pointer;
}

.text-head {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
}
.text-color-main {
  color: #212121;
  font-weight: 700;
}
.frame-button:hover {
  background: #0508c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: opx;
  cursor: pointer;
}
.frame-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
}
.button-front {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.end-front {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.end {
  background: #2f303a;
}

.higlight {
  color: #2196f3;
}

.item-wbr-up {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
}

.item-wbr {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
}
.footer {
  color: #f5f4fa;
}
h1 {
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #212121;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #757575;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;

  color: #212121;
}
.menager {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}
.manager-foto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #212121;
  position: absolute;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 96;
}
.select {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.select-foto {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.footter-end {
  display: flex;
  justify-content: flex-start;

  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.head {
  display: flex;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  justify-content: space-between;
}
.nav-li {
  padding-left: 30px;
  padding-right: 30x;
  margin-right: auto;
  margin-left: 0px;
  padding-bottom: 40px;
}
body {
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
}
li {
  list-style-type: none;
}
.h2-menager {
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;
}
